<?xml version="1.0"?>
   <launch>
      <param name="/use_sim_time" value="true" />
      <node name="cartographer_node"
            pkg="cartographer_ros"
            type="cartographer_node"
            args="-configuration_directory $(find cartographer_ros)/configuration_files -configuration_basename potato_gazebo.lua"
            output="screen">
      </node>

      <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

	<!--laser broadcaster-->
      <node pkg="tf" type="static_transform_publisher" name="laser_frame" args="0.206 0 0.16 0 0 0 1 base_link laser 100" />

	<!--Run Gazebo that run fake laser and odom-->
      <!--<include file="$(find m2wr_description)/launch/spawn.launch"/>-->

	<!--Run Gazebo-->
      <!--<inlcude file="$(find m2wr_gazebo)/launch/m2wr_world.launch"/>-->
   </launch>
